/* Só pra commitar :) */

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  margin-top: 6rem;

  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;

  display: grid;
  justify-items: center;
  gap: 6rem;
}

img {
  max-width: 100%;

  display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

p {
  font-size: 2rem;
  line-height: 1.3;
}

.menu {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.menu a {
  padding: 1.5rem 3rem;
  border-radius: 0.4rem;

  background: #fff;

  color: #000;
  text-transform: uppercase;
}

.menu li {
  list-style: none;

  display: flex;

  gap: 1.2rem;
}

.menu a:hover {
  border: 1px solid red;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;

  max-width: 100rem;
}

.conteudo h1::before {
  content: '';

  width: 6rem;
  height: 0.4rem;

  background: #e21;

  position: absolute;
  top: 3rem;
  right: -3rem;
}

.intro {
  background: #fff;

  padding: 4rem;

  text-align: right;

  display: grid;
  position: relative;
  gap: 2rem;
  align-content: center;
  justify-items: end;
}

.intro :nth-child(3) {
  background: #e21;
  color: #fff;
  border-radius: 0.4rem;

  padding: 1.5rem 3rem;
  text-transform: uppercase;
}

.intro :nth-child(3):hover {
  background: #900;
}

.sub-titulo {
  font-size: 6.4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);

  text-align: right;
  align-self: center;

  padding: 4rem;

  background: url(./img/onda.svg);
}

.vantagens {
  padding: 4rem;

  background: #fff;
}

.vantagens-item:nth-child(odd) {
  background: #f7f7f7;
}

.vantagens h3 {
  padding-top: 0.5rem;
}

.vantagens-item {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: auto 1fr;

  padding: 2rem;
}

.vantagens-item p {
  grid-column: 2;
  padding-bottom: 1rem;
}

.rodape {
  width: 100%;
  box-sizing: border-box;

  padding: 4rem;

  background: #fff;
  text-align: center;
}
