* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
  background-color: #f7f7f7;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.header {
  display: grid;
  gap: 60px;
  justify-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu a {
  display: block;
  background: #ffffff;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #fff;
}

.menu a:hover {
  border-color: #e21;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.intro {
  background: #fff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.intro h1 {
  font-size: 2rem;
}

.intro::before {
  content: '';
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}

.intro-cover img {
  object-fit: cover;
  height: 100%;
}

.botao {
  background: #e21;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background: #900;
}

.sub-titulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: url('./img/onda.svg');
  /* word-break: break-all; */
}

.vantagens {
  background: #fff;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border-left: 4px solid transparent;
}

.vantagens-item:nth-child(odd) {
  background: #f7f7f7;
}

.vantagens-item:hover {
  border-color: #e21;
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }

  .sub-titulo {
    text-align: center;
  }
}

@media (max-width: 600px) {
  body {
    gap: 30px;
    margin-top: 20px;
  }

  .header {
    gap: 30px;
  }

  .conteudo {
    grid-template-columns: 1fr;
  }

  .intro {
    text-align: left;
    justify-items: start;
  }

  .intro::before {
    display: none;
  }

  .sub-titulo {
    font-size: 3rem;
  }
}
